boto3
# pin to <7.0 to avoid breaking changes in sdk
minio<7.0
# pin the client to match the version of the deployed MLflow server
mlflow==2.15.1
numpy
pyarrow
requests
scikit-learn
tenacity
# Pinning for kserve sdk in 1.9
kserve==0.14.1
kubernetes
