boto3
# pin 2.5.0 because kserve==0.13.1 requires protobuf<4.0.0,>=3.19.0 while higher kfp requires protobuf<5,>=4.21.1
kfp==2.10.1
# pin to <7.0 to avoid breaking changes in sdk
minio<7.0
# pin the client to match the version of the deployed MLflow server
mlflow==2.15.1
numpy
pyarrow
requests
# pin to ensure compatibility with the installed mlflow client
scikit-learn
kserve==0.13.1
tenacity
