boto3
# pin the highest kfp version
kfp>=2.13,<3.0
# pin the client to match the version of the deployed MLflow server
mlflow==2.22.4
numpy
pyarrow
# Pin due to https://github.com/canonical/charmed-kubeflow-uats/issues/218
pydantic<2.11
requests
# pin to ensure compatibility with the installed mlflow client
scikit-learn
kserve==0.15.2
tenacity
