aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
boto3==1.43.4
botocore==1.43.4
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
click-option-group==0.5.7
cloudevents==1.12.1
cryptography==48.0.0
deprecation==2.1.0
docstring_parser==0.18.0
durationpy==0.10
fastapi==0.136.1
frozenlist==1.8.0
google-api-core==2.30.3
google-auth==2.50.0
google-cloud-core==2.5.1
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
grpc-interceptor==0.15.4
grpcio==1.80.0
grpcio-tools==1.80.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.13
jmespath==1.1.0
joblib==1.5.3
kfp==2.16.1
kfp-pipeline-spec==2.16.1
kfp-server-api==2.16.1
kserve==0.18.0
kubeflow-katib==0.19.0
kubeflow-training==1.9.0
kubernetes==30.1.0
multidict==6.7.1
numpy==2.4.4
oauthlib==3.3.1
orjson==3.11.8
packaging==26.2
pandas==2.3.3
prometheus_client==0.25.0
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.6
psutil==5.9.8
pyarrow==24.0.0
pyasn==1.6.2
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.27
pytz==2026.2
PyYAML==6.0.3
requests==2.33.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.4.2
s3transfer==0.17.0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
starlette==0.49.1
tabulate==0.10.0
tenacity==9.1.4
threadpoolctl==3.6.0
timing-asgi==0.3.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
uvicorn==0.46.0
uvloop==0.22.1
watchfiles==1.1.1
websocket-client==1.9.0
websockets==16.0
yarl==1.23.0
