apiVersion: v1
kind: ConfigMap
metadata:
  name: test-cm
  # the ConfigMap must be in the same namespace as the Pod that attempts to mount it
  # here, we hardcode this value to match the one specified in driver/test_kubeflow_workloads.py
  namespace: test-kubeflow
data:
  HTTP_PROXY: {{ HTTP_PROXY }}
  HTTPS_PROXY: {{ HTTPS_PROXY }}
